/* SignupForm.css

.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.signup-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.signup-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.switch-form {
    color: #28a745;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.switch-form:hover {
    text-decoration: underline;
} */

#logogla {
    width: 200px;
}

#signup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#signup-maindivision {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 1px -5px 5px crimson;box-shadow: 1px -5px 5px  rgb(141, 248, 193),1px 5px 5px rgb(99, 224, 124); */
    height: 50vh;
    width: 40vw;
    padding-top: 20px;
}

#head {
    font-size: smaller;
    text-align: center;
}

#heador {
    color: blue;
    font-size: smaller;
    text-align: center;
    font-weight: bold;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 30vw;
}

#head {
    color: #093157;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#signuplink {
    color: blue;
    text-shadow: 1px 1px rgb(247, 207, 6);
    font-size: medium;
    text-align: center;
    font-weight: bold;
}

#form {
    display: flex;
    flex-direction: column;
}

#signupbutton {
    background-color: #093157;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px -5px 5px rgb(141, 248, 193), 1px 5px 5px rgb(99, 224, 124);
    /* width: 120px; */
}

#signupbutton:active {
    box-shadow: none;
}

#google-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin-top: 15px;
    /* box-shadow: 1px -1px 1px 1px gray; */
    background: white;
}

#googlelogo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}